# ========== API CONFIGURATION ==========

# URL de base de l'API Harry Potter
VITE_API_BASE_URL=API_BASE_URL

# Timeout des requêtes (en ms)
VITE_API_TIMEOUT=10000

# ========== APP CONFIGURATION ==========

# Vue app name
VITE_APP_NAME=HP Pokedex

# Language par défaut
VITE_DEFAULT_LANGUAGE=fr
